.item-list {
  margin-left: -25px;
  &__li {
    color: $blue;
  }
  &__link {
    color: $grassgreen;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    max-width: 218px;
    padding-bottom: 20px;
    display: block;
  }
  &_colored {
    color: $gray;
    padding-bottom: 38px;
    max-width: 270px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
  }
}


@media(min-width: 768px) {
  .item-list {

    &__link {
      font-size: 24px;
      max-width: 723px;
    }

    &_colored {
      max-width: 725px;
      font-size: 16px;
    }
  }
}
